* {
    background-color: #9ccfd8;
    text-align: center;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    display: grid;
    grid-template-rows: 0.2fr 1fr 10px;
    grid-template-areas:    
                'h'
                'm'
                'f';
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: h;
}

h1 {
    font-family: 'Indie Flower', cursive;
    background-color: #31748f;
    color: #e0def4;
}

li {
    list-style-type: none;
}

main {
    grid-area: m;
}

div.cart-row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

div.cart-row span {
    display: table-cell;
    text-align: center;
}


footer {
    grid-area: f;
}


/* Responsive - Desktop (min 640px) */ 

@media screen and (min-width: 640px) {

    .shop-items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 100vh;
    }


    
}
